@media(max-width:615px){
	.navigation-bar{
		padding: 0 30px;
	}
	.navigation-bar > .center-column{
		display: none;
	}
	.navigation-bar > .right-column{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		margin-right: 0px;
	}
	.navigation-bar > .right-column > .bar-icon{
		display: inline-flex;
	}
	.navigation-bar > .center-column.show{
		width: 70%;
		height: 100vh;
		background-color: rgba(255, 255, 255, 0.9);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 20px;
		z-index: 100;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
	}
	.navigation-bar > .center-column.show a{
		color: black;
		width: 100%;
		height: 50px;
		background-color: rgba(224, 221, 221, 0.9);
		display: flex;
		align-items: center;
		padding-left: 10px;
		box-sizing: border-box;
		transition: 1s;
	}
	.navigation-bar > .center-column.show a:active{
		background-color: rgba(85, 83, 83, 0.5)
	}
	.navigation-bar > .center-column > .times-icon{
		display: flex;
		justify-content: flex-end;
		font-size: 20px;
	}
	
	.add-btn{
		margin-left: 12px;
	}
	.service-section{
		width: 100%;
		margin-left: 0;
		justify-content: center;
	}
	.payment-section{
		gap: 30px;
	}
	.about-wrapper{
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		box-sizing: border-box;
		padding-top: 30px;
		padding-left: 20px;
		margin-left: 0;
	}
	.shop-wrapper p{
		font-size: 12px;
	}
	.cart-tab{
		width: 70%;
	}
	.list-cart > .item{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1.4fr 0.6fr;
	}
	.cart-tab > .btn{
		grid-gap: 10px;
	}
	.cart-tab > .btn button{
		width: 100%;
	}
	.skew2-wrapper{
		width: 100%;
		box-sizing: border-box;
		padding: 30px 15px;
	}
	.offer-container{
		padding: 30px;
	}
	.offer-wrapper{
		grid-template-columns: 1fr;
		height: 800px;
	}
	.offer-bg{
		height: 400px;
		width: 100%;
	}
	.offer1{
		width: 100%;
		order: 1;
	}
	.offer2{
		width: 100%;
		order: 2;
	}
	.offer-text{
		width: 100%;
		height: 400px;
	}
	.offer-text p{
		font-size: 50px;
	}
	.cart{
		width: 100%;
		margin-left: 0;
	}
	.sales2-wrapper{
		height: 100%;
		width: 100%;
	}
	/*.person-wrapper{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		padding: 10px;
		box-sizing: border-box;
	}
	.person-wrapper > .left-column{
		width: 100%;
		order: 1;
		box-sizing: border-box;
	}
	.sales2-wrapper > .person-wrapper > .right-column{
		width: 100%;
		order: 2;
		box-sizing: border-box;
	}
	.person-wrapper > .left-column > form > .table, .person-wrapper > .right-column > form > .table{
		width: 100%;
		box-shadow: 0 0 0 0 rgb(0, 0, 0);
		padding: 20px;
		box-sizing: border-box;
	}
	.person-wrapper input{
		width: 100%;
		padding-left: 10px;
		font-size: 1em;
	}*/

	.person-wrapper{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		padding: 10px;
		box-sizing: border-box;
	}
	.person-wrapper > .left-column{
		width: 100%;
		order: 1;
		box-sizing: border-box;
	}
	.sales2-wrapper > .person-wrapper > .right-column{
		width: 100%;
		order: 2;
		box-sizing: border-box;
	}
	.person-wrapper > .left-column > .table, .person-wrapper > .right-column > .table{
		width: 100%;
		box-shadow: 0 0 0 0 rgb(0, 0, 0);
		padding: 20px;
		box-sizing: border-box;
	}
	.person-wrapper input{
		width: 100%;
		padding-left: 10px;
		font-size: 1em;
	}

	.right-column > form > .table > .eye-icons{
		top: 67%;
	}
	.skew-wrapper{
		padding: 50px 0 0 0;
		box-sizing: border-box;
	}
	.container-wrapper{
		width: 100%;
		height: 100%;
		margin-left: 0;
		grid-template-columns: 1fr;
		padding: 10px;
		box-sizing: border-box;
	}
	.container-wrapper > .cart-table1{
		order: 1;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
	.container-wrapper > .cart-table2{
		order: 2;
		width: 100%;
		box-sizing: border-box;
		padding: 20px 10px 10px 10px;
	}
	.cart-table1 > .heading{
		display: none;
	}
	.cart-table1 > .shopping-cart > .item > .text-wrapper > .price{
		display: none;
	}
	.cart-table1 > .shopping-cart > .item{
	    display: grid;
		grid-template-columns:1fr 3fr;
		grid-gap: 10px;
		width: 100%;
		box-sizing: border-box;
	}
	.cart-table1 > .shopping-cart > .item > .img-wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.cart-table1 > .shopping-cart > .item > .text-wrapper{
		display: grid;
		grid-template-columns: 1.3fr 1fr 0.7fr;
	}
	.contact{
		width: 100%;
		margin-left: 0;
	}
	.contact-details{
		border-right: 0;
	}
	.faqs{
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
	}
	.faqs > .heading{
		width: 100%;
		border-bottom: 0;
	}
	.faqs-wrapper{
		width: 100%;
	}
	.faqs-wrapper > .question-wrapper{
		width: 100%;
		box-sizing: border-box;
	}
	.welcome-section{
		width: 100%;
	}
	.container > .wrapper{
		display: grid;
		grid-template-columns: 1fr;
		height: 100%;
		padding-left: 25px;
		padding-right: 15px;
		box-sizing: border-box;
	}
	.bergh-burgers{
		height: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}
	.welcome-section > .motto-wrapper{
		padding: 40px 0 0 20px;
		box-sizing: border-box;
	}
	.motto-wrapper h1{
		font-size: 65px;
	}
	.why-us{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-gap: 10px;
		margin-top: 20px;
	}
	.comments-container{
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
	.comments-wrapper{
		width: 100%;
		grid-template-columns: 0.2fr 1.6fr 0.2fr;
	}
	.comments-wrapper > .comments{
		width: 100%;
		height: 100%;
	}
	.comments-wrapper > #forward{
		margin-right: 15px;
	}
	.comments-wrapper > #backward{
		margin-left: 15px;
	}
	.skew3-wrapper{
		padding: 30px;
		box-sizing: border-box;
	}
	.skew3-wrapper > .checkout-container{
		grid-template-columns: 1fr;
		height: 100%;
		padding: 0 20px 0 20px;
		box-sizing: border-box;
	}
	.table1{
		padding: 0 5px 0 0;
	}
	.table2{
		padding: 0;
		width: 100%;
		margin-top: 15px;
	}
	.credit-cards h1{
		margin-top: 0px;
	}
	.pop-up{
		width: 200px;
		height: 70px;
		right: 70px;
		padding: 10px;
	}
	.pop-up > .pop-up-icon{
		font-size: 20px;
	}
	.pop-up > .text h1{
		margin: 0;
	}

}

@media(max-width:370px){
	.checkout-container > .table1{
		padding: 0;
	}
	.table1 input{
		width: auto;
		font-size: 1.07em;
	}
	.table2{
		margin-left: -10px;
	}
	.credit-cards, .phone-payments{
		padding: 10px;
		box-sizing: border-box;
		width: 100%;
	}
	.three{
		column-gap: 20px;
	}
	.checkout h1{
		font-size: 60px;
	}
}